.outerbox{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100vw;
    height:100vh;
    background-color: rgb(12, 12, 12);
}
.outerbox1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:60vw;
    height:60vh;
    background-color: whitesmoke;
}
.signupbox{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:50vw;
    height:10vh;
    background-color: whitesmoke;
} 
.space{
    width:20vw;
    height:3vh;
}
.inputbox{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    width:50vw;
    height:30vh;
    background-color:  whitesmoke;
}
.bigbox{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    width:50vw;
    height:50vh;
    background-color:  whitesmoke;

}
.loginbox{
    display:flex;
    flex-direction:row;
    justify-content:center;
    width:50vw;
    height:6vh;  
}
.loginbutton{
    display:flex;
    flex-direction:row;
    justify-content: center;
    width:20vw;
    height:5vh;

}
.loginbutton2{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.otherplatbox{
    display:flex;
    flex-direction:row;
    justify-content: center;
    background-color:black;
    width:20vw;
    height:10vh
}