.outerbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100vw;
    flex-direction: column;
}

.outerbox2{
    display:flex;
    justify-content: center;
    gap: 20px;
    width: 400px;
    height: 40px;
}
.container{
    width:100vw;
    height: 200vh;
}