.image{
    width:200px;
    height:200px;
    object-fit:cover;
}

.imageList{
    display:flex;
    flex-wrap: wrap;
    row-gap:300px;
    column-gap: 50px;
    margin: 10px;
}

.imageBox{
    width:200px;
    height: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(15,33,80,0.2)
}
.checkbox{
    position: absolute;
    left: 5px;
    top:5px;
    z-index: 1;
}

.selectbutton{
    position: absolute;
    left:200px;
    top:10px;
    z-index: 1;
}
.deletebutton{
    position: absolute;
    left:350px;
    top:10px;
    z-index: 1;
}
.sharebutton{
    position: absolute;
    left: 500px;
    top:10px;
    z-index: 1;
}